{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center mt-5">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="consoleOutput">Console output</label>
                    <textarea class="form-control" id="consoleOutput" rows="3" readonly>{{ text }}</textarea>
                    <button type="button" onclick="tests()" class="btn btn-primary mt-3">Start tests</button>
                </div>
            </form>
        </div>
        <div class="col-4" id="token">
            {{ token }}
        </div>
    </div>
</div>
{% endblock %}