{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/refresh.js') }}"></script>
{% endblock %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center mt-5">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Console output</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly></textarea>
                </div>
            </form>
        </div>
        <div class="col-4">
            {{ request.cookies.get('token') }}
        </div>
    </div>
</div>
{% endblock %}